* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
section {
  min-height: 100vh;
  color: #fff;
  background-color: #333;
}

.member-modal,
.item-modal {
  height: 100%;
  max-width: 1000px;
  padding: 2rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member-modal .image,
.item-modal .image {
  position: relative;
  flex: 1;
  background-color: red;
}

.member-modal .image img,
.item-modal .image img {
  object-fit: cover;
}
.member-modal .body,
.item-modal .body {
  flex: 1;
  padding: 0 1rem;
}
.member-hover,
.item-hover {
  transition: all 300ms;
}
.member-hover:hover,
.item-modal:hover {
  transform: scale(1.04);
}
